<%if @users.nil?%>
  No members yet!
<%else%>
  <h3>Here are the members of your noodle group: <%=current_admin.groupname%> </h3>
  <h3> To add more: <%= link_to 'Send Invitations', new_user_invitation_path %></h3>
  <div class = "group_display">
   <%@users.each do |user|%>
      <form action = "<%=user_path(user)%>", method = 'get'>
      <input type = 'submit' value = "<%=user.username%>" class = "group_member_button">
      </form>
   <%end%>
  </div>
 <%end%>
