<h1>Welcome to Noodle</h1>

Already a Noodler?:
<%= link_to 'Log in as user', new_user_session_path %>
<%= link_to 'Log in as admin', new_admin_session_path %>
<br />
<br />

New to Noodle?:
<%= link_to 'Create a Noodle Group', new_admin_registration_path %>
<br />
<br />
