<div class = "homepage_sign_in">
<br />
<br />
<br />
<br />
<%if user_signed_in?%>
  <span class = 'center'><h3>user home page: news feed?</h3></span>
<%elsif admin_signed_in?%>
  <span class = 'center'><h3>admin home page: news feed?</h3></span>
<%else%>
  <span class = 'center'><h2><%= link_to 'Log in as user', new_user_session_path, class: "link" %>  |  <%= link_to 'Log in as admin', new_admin_session_path, class: "link"%></h2></span>
<%end%>
</div>
